footer {
	position:fixed;
	bottom:0;
	left:0;
	height:100px;
	line-height: 15px;
	background-color: #494444;
	color: #E3CFCF;
  text-align: center;
	width: 100%;
	z-index: 9000;
}

footer nav {
  float: none;
}