<div class="container">
	<div><h1>Contactez Nous</h1></div>
	<br />
	<div class="row">
		<div class="col-md-6">
				<div id="googlemap" style="width:100%; height:350px;">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10504.011479271878!2d-1.5743086499999999!3d48.83908395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1557406088480!5m2!1sfr!2sfr" width="100%" height="405" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
		</div>
		<br />
		<div class="col-md-6">
			<form class="my-form">
				<div class="form-group">
					<label for="form-name">Name</label>
					<input type="email" class="form-control" id="form-name" placeholder="Name" autofocus="true">
				</div>
				<div class="form-group">
					<label for="form-email">Email Address</label>
					<input type="email" class="form-control" id="form-email" placeholder="Email Address">
				</div>
				<div class="form-group">
					<label for="form-subject">Telephone</label>
					<input type="text" class="form-control" id="form-subject" placeholder="Subject">
				</div>
				<div class="form-group">
					<label for="form-message">Email your Message</label>
					<textarea class="form-control" id="form-message" placeholder="Message"></textarea>
				</div>
				<button class="btn btn-secondary" type="submit">Contact Us</button>                
			</form>
		</div>
	</div>
</div>

<style>
.my-form {
	color: #305896;
}
.my-form .btn-default {
	background-color: #305896;
	color: #fff;
	border-radius: 0;
}
.my-form .btn-default:hover {
	background-color: #4498C6;
	color: #fff;
}
.my-form .form-control {
	border-radius: 0;
}
</style>

<script type="text/javascript">
	jQuery(function ($) {
		// Google Maps setup
		var googlemap = new google.maps.Map(
			document.getElementById('googlemap'),
			{
				center: new google.maps.LatLng(44.5403, -78.5463),
				zoom: 8,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			}
		);
	});
</script>
